
.snapshot-date {
  color: var(--pf-v5-global--secondary-color--100);
  font-size: calc(var(--pf-v5-global--icon--FontSize--sm) * 0.9);
}

.description {
  white-space: pre-wrap;
}

.action-buttons {
  width: 20%;
}
