<% if @host.provider == 'VMware' %>
<div id='snapshots' class='tab-pane'
  data-ajax-url='<%= host_snapshots_path(host_id: @host)%>'
  data-on-complete='onContentLoad'>
  <%= spinner(_('Loading Parameters information ...')) %>
</div>
<% end %>
