<% if @host.compute_resource && @host.compute_resource.capabilities.include?(:snapshots) && authorized_for(:controller => 'foreman_snapshot_management/snapshots', :action => :index) %>
  <li><a href='#snapshots' data-toggle='tab'><%= _('Snapshots') %></a></li>
<% end %>
